<!DOCTYPE html>
<html lang="pt">

<head>
  <title>Website OneMedia, SA - <%-senderSubject%></title>
</head>

<body>
  <div class="mt-10 max-w-[768px] mx-auto">
    <p class="mb-4">Estimado(s),</p>

    <p class="mb-4">
      Serve desta para informar que <span class="font-semibold"><%-senderName%></span> atraves do website <a
        href="https://onemediamoz.com">onemediamoz.com</a>, envio uma mensagem com os seguintes dados:
    </p>

    <p class="mb-4">
      <span class="font-bold">Email:</span>
      <span><%-senderEmail%></span>
    </p>

    <p class="mb-4">
      <span class="font-bold">Assunto:</span>
      <span><%-senderSubject%></span>
    </p>

    <p class="mb-4">
      <span class="font-bold">Mensagem:</span>
      <br />
      <span><%-senderMessage%></span>
    </p>
  </div>
</body>

</html>